@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

body {
 /*background: #dff0f5;*/
 background: #111;
 font-family: 'Comfortaa', bold;
 padding: 0px;
 margin: 0px;
 color: aliceblue;
}
a {
 text-decoration: none;
 transition: .5s linear;
 color: burlywood;
 padding: 8px;
 font-size: 12px;
}
a:hover {
 color: aliceblue;
}
img {
 width: 200px;
 border-radius: 30px; 
 box-shadow: 0 0 7px rgba(250,230,270,0.5)
}
h1 {
 color: burlywood;
 font-family: serif;
 font-family: 'Comfortaa';
 text-align: left;
 padding-left: 40px;
 font-size: 20px;
 /*position: absolute;*/
}
strong {
 color: burlywood;
}
p {
 color: aliceblue;
 font-size: 12px;
}
#hello_user {
 text-align: right;
 margin: 0;
 margin-top: 30px;
 margin-right: 10px;
 margin-bottom: -45px;
 color: burlywood;
}
.cats {
 padding: 15px;
 margin: 10px;
 border-radius: 30px;   
 box-shadow: 0 0 7px rgba(250,230,270,0.5);
 transition: 2.5s ease;
 background: black;
 margin-top: 50px;
}
.cats:hover {
 cursor: pointer;
 background: rgba(177, 152, 145, .2);
}
.items {
 display: flex;
 justify-content: center;
 text-align: center;

 flex-flow: row wrap;
}
nav {
 text-align: left;
 /*padding-top: 80px;*/
}
nav ul {
 margin: 0;
}
nav li {
 padding-right: 10px;
 display: inline;
}
nav a {
 padding: 1em;
 background: rgba(177, 152, 145, .2);
 color: #695753;
 color: burlywood;
 border-top: 1px solid #b19891;
 border-radius: 30px;
 border-left: 1px solid #8c7d79;
}
#menu {
 position: absolute;
}
#login {
 text-align: right;
}
#login li {
 display: inline;
}
@media (max-width: 920px) {
 #login {display: none;}
 .items {padding-top: 100px;}
}