{% extends "base.html" %}

{% block content %}
    <h1>Произошла ошибка</h1>
    <p>Просим прощения и уже работаем над устранением...</p>
    <p><a href="{{ url_for('index') }}">Вернуться на главную страницу</a></p>
{% endblock %}