<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-- Не используйте это в production -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <link href='{{ url_for("static", filename="style.css") }}' rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>
  <body>

    {% if not current_user.is_anonymous %}
        <p id="hello_user">Hi, {{ current_user.username }}!</p>
    {% endif %}


    <a href="/"><h1>Сайт про кошек</h1></a>
    <nav id="menu">
    <ul>
        <li><a href="{{ url_for('index') }}"><i class="fa fa-home fa-fw"></i>Главная</a></li>
        <li><a href="#">Питомник</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
    </nav>
    <nav id="login">
    <ul>

        {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Войти</a></li>
            <li><a href="{{ url_for('register') }}">Регистрация</a></li>
        {% else %}
           <li> <a href="{{ url_for('logout') }}">Выйти</a></li>
        {% endif %}
    </ul>
    </nav>




    {% block content %}{% endblock %}
  </body>
</html>