{% extends "base.html" %}

{% block content %}

    <div id="App"></div>
    <script type="text/babel">


        const Cats = [
          {
            id: 1,
            breed: 'Ориентальная',
            phenotype: 'Короткошерстная',
            img: '{{ url_for("static", filename="orientalnaya.jpg") }}'
          },
          {
            id: 2,
            breed: 'Мейн-кун',
            phenotype: 'Длинношенрстная',
            img: '{{ url_for("static", filename="maine-coon.jpg") }}'
          },
          {
            id: 3,
            breed: 'Русская голубая',
            phenotype: 'Короткошерстная',
            img: '{{ url_for("static", filename="rusblue.jpg") }}'
          },
          {
            id: 4,
            breed: 'Рэгдолл',
            phenotype: 'Полулинношенрстная',
            img: '{{ url_for("static", filename="regdoll.jpg") }}'
          }
        ];

     
 
    class News extends React.Component {
      render() {
        const newsTemplate = this.props.data.map(function(item, index) {
          return (

            <a className="cats" key={index.id}>

                  <p className="breed"><strong>Порода:</strong> {item.breed}</p>
                  <p className="phenotype"><strong>Фенотип:</strong> {item.phenotype}</p>
                  <img src={item.img} alt="cat" />

            </a>

          )
        })

        console.log(newsTemplate)

        return (
          <div className="items">
            {newsTemplate}
          </div>
        )
      }
    }

       const Comments = () => {
         return <p>Нет коммнетариев</p>
      };   
       
       const App = () => {
        return (
            <React.Fragment>
                <News data={Cats}/>
                <Comments />
            </React.Fragment>
        )
      };

      ReactDOM.render(
        <App />,
        document.getElementById('App')
      );

    </script>

{% endblock %}

